/* Parent Contsiner */
.container {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers items horizontally */
    gap: 20px; /* Adds space between items */
    width: 100%;
    max-width: 400px; 
    background-color: #ccc;
    box-sizing: border-box;
}

/* Base styles for all children */
header, article, aside, footer {
    width: 99%;
    padding: 15px 0;
    margin: 10px 0; 
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

/* Specific styles for each section */
header {
    background-color: #d11a7f;
}

article {
    background-color: #e6005c;
}