body {
    background: #ddd;
    font-family: sans-serif;
}

/* Parent Contsiner */
.container {
    width: 80%;
    margin: 20px auto; /* Centers the container and adds vertical spacing */
}

/* Base styles for all children */
/* header, article, aside, footer {
    width: 99%;
    padding: 15px 0;
    margin: 10px 0; 
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

/* Specific styles for each section */
header {
    background-color: #d11a7f;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.articles {
    background: #05961d;
    padding: 15px;
    border-radius: 10px;}

article {
    background: #ff0080;
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 0;
}

aside {
    background-color: #2980b9;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}

footer {
    background: #e67e22;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}

/* Desktop layout */
@media (min-width: 768px) {
  main {
    flex-direction: row-reverse;
    gap: 15px;
    /* row-reverse puts aside on the left
       while keeping HTML order for mobile */
  }

  .articles {
    flex: 3;
  }

  aside {
    flex: 1;
    margin-top: 0; /* Allow aside to grow with content */
  }
}

